/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/vue-loader/dist/stylePostLoader.js!./node_modules/sass-loader/dist/cjs.js??clonedRuleSet-3.use[2]!./node_modules/vue-loader/dist/index.js??ruleSet[1].rules[8].use[0]!./src/widgets/ps-modal.vue?vue&type=style&index=0&id=6c30241c&lang=sass&scoped=true ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************/
.modal-header .close[data-v-6c30241c] {
  font-size: 1.2rem;
  color: #bbcdd1;
  opacity: 1;
}
.modal-footer .ps-spinner[data-v-6c30241c] {
  margin: 0;
}
.modal-footer .actions[data-v-6c30241c] {
  display: flex;
  align-items: center;
  margin-left: auto;
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/vue-loader/dist/stylePostLoader.js!./node_modules/sass-loader/dist/cjs.js??clonedRuleSet-3.use[2]!./node_modules/vue-loader/dist/index.js??ruleSet[1].rules[8].use[0]!./src/widgets/form/ps-input.vue?vue&type=style&index=0&id=12415cfc&lang=sass ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************/
.invalid-feedback:not(:empty) {
  display: block;
}
/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/vue-loader/dist/stylePostLoader.js!./node_modules/sass-loader/dist/cjs.js??clonedRuleSet-3.use[2]!./node_modules/vue-loader/dist/index.js??ruleSet[1].rules[8].use[0]!./src/widgets/form/ps-datepicker.vue?vue&type=style&index=0&id=77a8ca34&lang=sass&scoped=true ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.date a[data-action=clear][data-v-77a8ca34]::before {
  font-family: "Material Icons";
  content: "\e14c";
  font-size: 20px;
  position: absolute;
  bottom: 15px;
  left: 50%;
  margin-left: -10px;
  color: #363a41;
  cursor: pointer;
}
.bootstrap-datetimepicker-widget tr td span[data-v-77a8ca34]:hover {
  background-color: white;
}
/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/vue-loader/dist/stylePostLoader.js!./node_modules/sass-loader/dist/cjs.js??clonedRuleSet-3.use[2]!./node_modules/vue-loader/dist/index.js??ruleSet[1].rules[8].use[0]!./src/widgets/ps-table/ps-table.vue?vue&type=style&index=0&id=2ed71d74&lang=sass ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************/
.table td .form-group {
  margin-bottom: 0;
}
/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/vue-loader/dist/stylePostLoader.js!./node_modules/sass-loader/dist/cjs.js??clonedRuleSet-3.use[2]!./node_modules/vue-loader/dist/index.js??ruleSet[1].rules[8].use[0]!./src/components/OrderPayments.vue?vue&type=style&index=0&id=66ad0b1b&lang=sass&scoped=true ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************/
.payment-summary[data-v-66ad0b1b] {
  background-color: #efefef;
  padding: 1rem;
  border: 1px solid;
}
.actions[data-v-66ad0b1b] {
  display: flex;
  align-items: center;
}
.actions .add-payment[data-v-66ad0b1b] {
  margin-left: auto;
}
